fastapi==0.115.6
uvicorn[standard]==0.34.0
python-multipart==0.0.20

numpy==1.26.4
opencv-python-headless==4.10.0.84
Pillow==11.1.0
PyYAML==6.0.2
requests==2.32.3
scipy==1.15.1
tqdm==4.67.1
pandas==2.2.3

torch==2.1.2
torchvision==0.16.2

matplotlib==3.9.4
seaborn==0.13.2